body {
  margin: 0px;
  background-color: #242424;
  overflow: hidden;
  text-align: center;
  align-content: center;
  align-items: center;
  vertical-align: middle;
}

#container {
  position: absolute;
  background-color: #242424;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: auto;
}

#container canvas, #overlay {
  
  display: block;
  position:absolute;
  
}
#renderer {
  display:block;
}
